.catgory {
    background-color: transparent !important;
    border-color: white;
}

.status:focus {
    background-color: #919257 !important;
}
.status2:focus{
    background-color: transparent !important;
}

.qwe:hover {
    background-color: #e6e6e6;
}

.login {
    height: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-top: 20px !important;
    background-color: rgb(246, 248, 250);
}

.form1 {
    margin-top: 30px;
}
.form2 {
    margin-top: 20px;
}

.logo {
    text-align: center;
    margin-top: 120px;
}
.logo2 {
    text-align: center;
    margin-top: 10px;
}

.sumit {
    background-color: #919257 !important;
    border-color: #e6e6e6 !important;
    border-radius: 10px !important;
}

.ready {
    text-align: center;
    margin-top: 10px;

}


.new1{
    margin-top: 20px !important;
    border: 1px solid #e6e6e6;
     border-radius: 10px;
    height: 50px;
    line-height: 50px;
}
.new{
    margin: 0 auto;
    text-align: center;
}
.font{
    color: rgb(46, 103, 211);
}
.register {
    height: 600px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    /*margin-top: 0px !important;*/
    background-color: rgb(246, 248, 250);
}
#main{
    width: 600px;
    height:330px;
    margin: 0 auto;
    margin-top: 20px
}
#main2{
    width: 600px;
    height:330px;
    margin: 0 auto
}